// COLORS
$primary-color: #8758FF;
$secondary-color: #5CB8E4;
$font-family: "Montserrat", sans-serif;

$light-white: #5CB8E4;
$white-color: #181818;
$dark-grey: #F2F2F2;

$dark-blue-text: #F2F2F2; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
