#projects {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -15rem;
  padding-top: 15rem;
  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }
  @include respond(phone) {
    padding-bottom: 1px;
  }
  .project-wrapper {
    margin-bottom: 15rem;
    @include respond(phone) {
      margin-bottom: 0rem;
    }
    .row {
      margin: 0;
      margin-bottom: 8rem;
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }
    &__text {
      width: 100%;
      text-align: left;
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }
      @include respond(phone) {
        margin-bottom: 2.5rem;
      }
      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      &-info {
        margin-bottom: 1.5rem;
      }

      &-btns {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    &__image {
      width: 100%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }
      & .thumbnail {
        //box-shadow: 8px 8px 9px 7px rgba(174, 174, 192, 0.4),  -5px -5px 15px 7px #ffffff;

        --border-size: 5px;
        --border-angle: 0turn;
        width: fit-content;
        height: fit-content;
        background-image: conic-gradient(
            from var(--border-angle),
            #213,
            #112 50%,
            #213
          ),
          conic-gradient(from var(--border-angle), transparent 20%, $primary-color, $secondary-color);

        background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
        background-position: center center;
        background-repeat: no-repeat;

        animation: bg-spin 3s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle: 1turn;
          }
        }

        .img-fluid {
          max-width: calc(100% - (var(--border-size) * 2));
          max-height: calc(100% - (var(--border-size) * 2));
          width: auto;
          height: auto;
          top: 2.5px;
          position: relative;
        }

        @include respond(phone) {
          box-shadow: none;
          margin-bottom: 3.2rem;
          transform: none;
        }
      }
    }
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
